# Node / Common Frontend
node_modules
.env
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build
dist

# Supabase
.supabase
supabase/.temp
supabase/volumes

# macOS
.DS_Store

# Windows
Thumbs.db
